body {
  margin: 0;
  padding: 0; 
  font-family: Serif;
  font-size: 16px;
  background-color: #e9e9e9;
}

ul {
  list-style: none;
}

a {
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(68, 68, 68);
}

button, input[type='submit'],
.signin-signup, .signup-signin {
  width: 125px;
}

textarea {
  height: 115px; 
}

input[type='radio'], input[type='checkbox']{
  margin: 0 5px 0 5px;
}

a, .pubitem-thumb, .pubitem-her-thumb, .myitem-thumb,
#category li, .location-all,
#location li ul li{
  cursor: pointer
}

#menu {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  /*background-color: rgb(190, 190, 190);*/
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

#flash-message {
  position: fixed;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 0;
  z-index: 5;
  text-align: left;
  background-color: rgb(172, 6, 37);
}

#loading {
  position: fixed;
  top: 100px;
  right: 100px;
  z-index: 5;
  display: none;
}

#main {
  margin-top: 50px;
  padding: 10px;
}

#profile-general, #profile-upload-form,
.message-others, .between-others,
.item-li div, .comment-others{
  display: inline-block;
  vertical-align: top;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show-inline {
  display: inline-block;
}

.mask
{
  position: fixed;    
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  opacity: 0.95;
}

.close{
   position: fixed;
   z-index: 4;
   top: 0;
   right: 15px;   
   width: 50px;
   height: 50px;
   font-size: large;
 }

.myitems-more, .pubitems-more, .pubitems-her-more,
.pubitems-kind-more, .pubitems-search-more,
.pubitems-mylikes-more, .betweens-more, .unreads-more{
  position: fixed;
  right: 15px;
  bottom: 45px;
}

/* style for MenuView */
#menu-main {
  margin: 0;
  padding: 0;
}

#menu-main-msg, #menu-main-me {
  margin-top: 15px;
}

#menu-main-items-search, .menu-inline-link,
.pubitem-show-header > div, .myitem-show-header > div {
  display: inline-block;
  vertical-align: middle;
}

#menu li a {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(84, 86, 82);
}

#menu-main-filter {
  margin-top: 8px;
}

#menu-main-items-search input{
  width: 395px;
  padding-left: 50px;
}

#menu-main-city {
  margin-left: -390px
}

#menu-main-category {
  margin-left: 320px;
}

#menu-me {
  position: fixed; 
  top: 51px;
  left: 0;
  width: 100%;
  height: 155px;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

#menu-me ul {
  margin: 115px 0 0 135px;
}

#menu-msg {
  position: fixed; 
  top: 75px;
  left: 50px;
  margin: 0;
  padding: 0;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.22);
  border 1px solid #b6b6b6;
  border-radius: 2px;
}

#category {
  position: fixed; 
  top: 51px;
  left: 585px;
  margin: 0;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.22);
  border 1px solid #b6b6b6;
  border-radius: 2px;
}

#location {
  position: fixed; 
  top: 51px;
  left: 195px;
  height: 335px;
  overflow: auto;
  margin: 0;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.22);
  border 1px solid #b6b6b6;
  border-radius: 2px;
}

#category li, .location-all, #location li ul li {
  height: 30px;
}

/* style for user */
#signin, #signup, #reset-password{
  position: fixed; 
  top: 135px;
  left: 350px;
  width: 450px;
  min-height: 265px;
  z-index: 2;
  padding: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  border-radius: 5px;
}

.signin-signup, .signup-signin {
  margin-left: 15px;
}

.timer {
  width: 145px;
}
/* style for captcha */
.captcha img {
  margin-left: 15px;
  width: 93px;
  height: 35px;
}

/* style for profile */
#profile {
    margin: 205px 0 0 0;
}

#profile-general{
  width: 415px;
  margin : 0 0 0 25px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  border-radius: 5px;
}

#profile-upload-form {
  margin: 15px 0 0 45px;
  vertical-align: top;
}

/* style for message */
#unreads, #contacts {
  margin-top: 95px;
}

.unread, .between {
  min-height: 95px;
  width: 500px;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.contact {
  display: inline-block;
  min-height: 95px;
  width: 85px;
  margin: 0 25px 15px 0;
  padding: 15px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
}

.betweens-body
{
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

.betweens-header{
  padding: 15px;
  margin: 0 0 15px 0; 
  background-color: rgb(255, 255, 255);
}

.betweens-create {
  position: fixed;
  z-index: 4;
  bottom: 0;
  right: 275px;
  padding: 35px 25px 15px 25px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  background-color: rgb(255, 255, 255);
}

.betweens-input {
  width: 350px;
}

.betweens-more {
  position: static;
}

/* style for item */
.pubitem p {
  padding: 5px;
}

.pubitem-buy-price {
  margin-left: 15px;
  text-decoration: line-through;
}

.pubitem-show {
  position: absolute;
  z-index: 4;
  top: 50px;
  left: 45px;
  width: 765px;
  height: 695px;
  overflow: auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
}

.pubitem-show-header {
  position: absolute;
  z-index: 5;
  top: 5px;
  left: 45px;
  width: 765px;
  height: 50px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  background-color: rgb(255, 255, 255);
}

.item-name, .message-body,
.profile-show-name {
  font-size: 20px;
  font-weight: bolder;
}

.item-next{
  position: relative;
  left: 685px;
  bottom: 15px;
}

.pubitem-show-profile {
  position: absolute;
  z-index: 4;
  top: 95px;
  right: 35px;
  width: 335px;
  min-height: 505px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  background-color: rgb(255, 255, 255);
  /*255, 174, 150*/
  border-radius: 5px;
}

.new-item-form {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 125px;
  width: 625px;
  height: 100%;
  padding: 15px;
  overflow: auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  background-color: rgb(255, 255, 255);
}

#myitems-publish {
  position: absolute;
  right: 15px;
  top: 265px;
  z-index: 1;
  width: 235px;
  height: 235px;
  border: 2px dashed #bbb;
  border-radius: 5px;
  background: rgba(0,0,0,0.03);
  text-align: center;
}

.pubitems-her-more {
  z-index: 4;
}

.myitem-show-header {
  position: absolute;
  z-index: 5;
  top: 5px;
  left: 45px;
  width: 765px;
  height: 50px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  background-color: rgb(255, 255, 255);
}

.myitem-show {
  position: absolute;
  z-index: 4;
  top: 50px;
  left: 45px;
  width: 765px;
  height: 695px;
  overflow: auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
}
/* style for itemimgs*/
.myitem-itemimgs-form {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 125px;
  width: 450px;
  height: 100%;
  padding: 15px;
  overflow: auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  background-color: rgb(255, 255, 255);
}

/* style for comment */
#comments {
  width: 765px;
  min-height: 165px;
  margin-top: 105px;
  padding: 5px 0 5px 0;
  background-color: rgb(255, 255, 255);
}

.comment {
  margin: 15px 15px 15px 0;
  border-bottom: 1px dashed rgb(84, 86, 82);
}

.comment-menu {
  text-align: right;
}

.comments-create {
  margin: 25px 0 25px 35px;
}

.comments-body {
  width: 495px;
}

/* style for access token */
.share {
  position: absolute;
  top: 51px;
  left: 215px;
  width: 395px;
  z-index: 5;
  padding: 15px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

#menu-main-name img, #menu-main-city img,
 #menu-main-category img,
.share-site img, .share-site input,
.share-site a, .signup-accept input,
.signup-accept a, .captcha img,
.captcha input{
  vertical-align: middle;
}

.share-site a {
  margin-left: 95px;
}

/*style for profile-show*/
.profile-show-msg {
  margin-left: 25px;
}

/*style for like*/
.like, .share-btn {
  margin: 10px 0 0 25px
}

.like-unlike, .share-btn-btn {
  width: 64px;
  padding: 5px 10px 5px 10px;
}
