<p>帖子</p>
<ul class='comments'>
</ul>
<div class='comments-create pure-form'>
    <textarea class='comments-body'></textarea>
    <br/>
    <br/>
    <button type='button' class='comments-send pure-button'>提交</button>
</div>
