<img src='<%= profile.thumb_file %>' class='comment-img'/>
<ul class='comment-others'>
    <li>
        <%= profile.name %>
    </li>
    <li>
        <%= created_at %>
    </li>
</ul>
<div class='comment-body'>
    <p><%= body %></p>
</div>
<p class='comment-menu'>
    <a class='comment-reply'>回复</a>
</p>
