<h4>Edit profile</h4>
<p>
    <label>名号</label>
    <input class='pure-input-2-3' type='text' name='profile_name' value='<%= name %>'/>
</p>
<p>
    <label>男</label>
    <input class='pure-input-1-4' type='radio' name='profile_gender' value='0'/>
    <label>女</label>
    <input class='pure-input-1-4' type='radio' name='profile_gender' value='1'/>
</p>
<p>
    <label>地址</label>
    <input class='pure-input-2-3' type='text' name='profile_location' value='<%= location %>'/>
</p>
<p>
    <label>职业</label>
    <select name='profile_job'>
        <option value='1'>程序员</option>
        <option value='2'>作家</option>
    </select>
</p>
<p>
    <label>自我介绍</label><br/><br/>
    <textarea class='pure-input-2-3' name='profile_about'><%= about %></textarea>
</p>
<p>
    <button type='button' id='profile-save' class='pure-button'>提交</button>
</p>
