<img src='<%= detail_file %>'/>
<ul>
    <li class='profile-show-name'><%= name %></li>
    <li><%= gender %></li>
    <li><%= location %></li>
    <li><%= job %></li>
    <li>
        <p><%= about %></p>
    </li>
</ul>
<button class='profile-show-msg pure-button' type='button'>私信</button>
