<h3 class='reset-password-header'>重置密码</h3>
<div class='reset-password-form'>
    <p>
        <input class='pure-input-2-3' name='phone' type='text' placeholder='手机号码'>
    </p>
    <p>
        <input name='verification_code' type='text' placeholder='验证码'>
        <button id='reset-password-send-verif' class='reset-password-send-verif pure-button' type='button'>
            获取验证码
        </button>
    </p>
    <p>
        <input class='pure-input-2-3' name='password' type='password' placeholder='新密码'>
    </p>
    <p>
        <input class='pure-input-2-3' name='password_confirmation' 
         type='password' placeholder='确认密码'>
    </p>
    <div class='reset-password-captcha'></div>
    <input id='reset-password-submit' class='reset-password-submit pure-button' type='submit' value='提交'/>
</div>
