<h3 class='signup-header'>注册</h3>
<div class='form'>
    <p>
        <input class='pure-input-2-3' name='phone' placeholder='手机号码' type='text'/>
    </p>
    <p>
        <input name='verification_code' placeholder='验证码' type='text'/>
        <button id='signup-send-verif' class='signup-send-verif pure-button' type='button'>
            获取验证码
        </button>
    </p>
    <p>
        <input class='pure-input-2-3' name='email' placeholder='邮箱' type='text'/>
    </p>
    <p>
        <input class='pure-input-2-3' name='password' placeholder='密码' type='password'/>
    </p>
    <p>
        <input class='pure-input-2-3' name='password_confirmation' placeholder='确认密码' type='password'/>
    </p>
    <div class='signup-captcha'></div>
    <p class='signup-accept'>
        <input name='accept' type='checkbox' value='1'/>
        <a>我已阅读并接受协议条款.</a>
    </p>
    <p class='sign-up-in'>
        <input id='signup-submit' class='signup-submit pure-button' type='submit' value='提交'/>
        <a class='signup-signin pure-button' href='#'>登录</a>    
    </p>
</div>
