<h3 class='signin-header'>登录</h3>
<div class='signin-form'>
    <p>
        <input class='pure-input-2-3' placeholder='手机号码' name='phone' type='text'/>
    </p>
    <p>
        <input class='pure-input-2-3' placeholder='密码' name='password' type='password'/>
    </p>
    <div class='signin-captcha'></div>
    <p class='signin-up-in'>
        <input class='signin-submit pure-button' type='submit' value='提交'/>
        <a class='signin-signup pure-button' href='#'>注册</a>    
    </p>
    <a class='signin-forget-password' href='#'>忘记密码?</a>
</div>
