<a class='share-close'>×</a>
<br/>
<br/>
<textarea class='share-input pure-input-1'></textarea>
<p class='share-site'>
    <img src='/client/douban_oauth.png'/>
    <input type='checkbox' class='share-site-douban'/>
    <a
href='https://www.douban.com/service/auth2/auth?redirect_uri=http://127.0.0.1/douban/oauth/callback&response_type=code&client_id=0d14e1b965be3c2f273ea52c313ab48d' target='_blank' class='hide'>
        授权
    </a>
</p>
<p class='share-site'>
    <img src='/client/sina_oauth.png'/>
    <input type='checkbox' class='share-site-sina'/>
    <a href='https://api.weibo.com/oauth2/authorize?redirect_uri=http://127.0.0.1/sina/oauth/callback&response_type=code&client_id=1886547968' target='_blank' class='hide'>
       授权
    </a>
</p>
<button type='button' class='share-sub pure-button'>提交</button>
