<img src='<%= thumb_img %>' class='myitem-itemimg-thumb'/>
<div class='myitem-itemimg-general'>
    <p class='myitem-itemimg-is-note'>
        <label>购物凭证</label>
        <label>是</label>
        <input type='radio' name='<%= id %>_is_note' value='1'/>
        <label>否</label>
        <input type='radio' name='<%= id %>_is_note' value='0' checked='checked'/>
    </p>
    <p>
        <label>简单描述下</label><br/>
        <textarea name='description' class='pure-input-2-3'><%= description %></textarea>
    </p>
    <button type='button' class='myitem-itemimg-sub pure-button'>提交</button>
</div><br/>
