<div class='mask'></div>
<a class='myitem-itemimgs-close close' href='#'>×</a>
<div class='myitem-itemimgs-form'>
    <h4>添加图片</h4>
    <form enctype='multipart/form-data'>
        <input name='img' id='myitem-itemimgs-file' type='file'/>
    </form>
    <ul class='myitem-itemimgs'>
    </ul>
</div>
