<li data-cate='1'>图书</li>
<li data-cate='2'>软件</li>
<li data-cate='3'>数码</li>
<li data-cate='4'>居家</li>
<li data-cate='5'>办公</li>
<li data-cate='6'>美妆、个护</li>
<li data-cate='7'>食品、酒水</li>
<li data-cate='8'>玩具</li>
<li data-cate='9'>母婴</li>
<li data-cate='10'>运动户外</li>
<li data-cate='11'>服装、鞋靴、箱包</li>
<li data-cate='12'>钟表</li>
<li data-cate='13'>首饰</li>
<li data-cate='14'>汽车、汽车用品</li>
<li data-cate='15'>票卡</li>
<li data-cate='16'>宠物</li>
<li data-cate='17'>乐器</li>
<li data-cate='18'>其他</li>
