<ul id='menu-main' class='pure-g'>
    <li id='menu-main-name' class='pure-u-1-8'>
        <img width='50px' height='50px' src='/client/swan.jpg'/>
        <a title=''>小卖部</a>
    </li>
    <li id='menu-main-filter' class='menu-inline-link pure-u-3-8'>
        <form id='menu-main-items-search' class='pure-form' onsubmit='return false'>
            <input type='text' placeholder='搜索'/>
        </form>
        <a id='menu-main-city' title='城市'>
            <img width='25px' height='25px' src='/client/category.png'/>
        </a>
        <a id='menu-main-category' title='类别'>
            <img width='25px' height='25px' src='/client/category.png'/>
        </a>
    </li>
    <li id='menu-main-msg' class='menu-inline-link pure-u-1-12'>
        <a title='私信'>私信</a>
        <span id='menu-msg-main-unread-count'></span>
    </li>
    <li id='menu-main-me' class='menu-inline-link pure-u-1-12'>
        <a title='我的'>我的</a>
    </li>
</ul>
<div id='menu-msg' class='hide pure-menu'>
    <ul class='pure-menu-list'>
        <li class='menu-inline-link pure-menu-item'>
            <a id='menu-msg-unread' class='pure-menu-link' title='未读'>未读</a>
        </li>
        <li class='menu-inline-link pure-menu-item'>
            <a id='menu-msg-contacts' class='pure-menu-link' title='全部'>全部</a>
        </li>
    </ul>
</div>
<div id='menu-me' class='hide pure-g'>
    <ul>
        <li class='menu-inline-link pure-u-1-12'>
            <a id='menu-me-myitem' title='我的物品'>我的物品</a>
        </li>
        <li class='menu-inline-link pure-u-1-12'>
            <a id='menu-me-mylike' title='我喜欢的'>我喜欢的</a>
        </li>
        <li class='menu-inline-link pure-u-1-12'>
            <a id='menu-me-profile' title='我的账号'>账号</a>
        </li>
        <li class='menu-inline-link pure-u-1-12'>
            <a id='menu-me-signout' title='退出'>退出</a>
        </li>
    </ul>
</div>
