<form id='form' action='/users/show' method='get'>
    <input class='input' type='hidden' value='je8320jf2333203jjrrr2'/>
    <label>name</label>
    <input id='name' type='text' name='name'/>
    <label>marriage</label>
    <input id='marriage' type='checkbox' name='marriage' value='yes'/>
    <label>man</label>
    <input id='man' type='radio' name='gender' value='man'/>
    <label>woman</label>
    <input id='woman' type='radio' name='gender' value='woman' checked='checked'/>
    <label>from</label>
    <select id='from' name='from'>
        <option value='heilongjiang'>heilongjiang</option>
        <option value='hebei' selected='selected'>hebei</option>
        <option value='xinjiang'>xinjiang</option>
    </select>
    <label>self intro</label>
    <textarea id='self-intro' name='self_intro'></textarea>
    <input type='submit' name='sub'/>
</form>
