<select name='kind'>
    <option value='1'>图书</option>
    <option value='2'>软件</option>
    <option value='3'>数码</option>
    <option value='4'>居家</option>
    <option value='5'>办公</option>
    <option value='6'>美妆、个护</option>
    <option value='7'>食品、酒水</option>
    <option value='8'>玩具</option>
    <option value='9'>母婴</option>
    <option value='10'>运动户外</option>
    <option value='11'>服装、鞋靴、箱包</option>
    <option value='12'>钟表</option>
    <option value='13'>首饰</option>
    <option value='14'>汽车、汽车用品</option>
    <option value='15'>票卡</option>
    <option value='16'>宠物</option>
    <option value='17'>乐器</option>
    <option value='18'>其他</option>
</select>
