<div class='mask'></div>
<a class='betweens-close close' href='#'>×</a>
<div class='betweens-body'>
    <h4 class='betweens-header'>Between</h4>
    <ul class='betweens'></ul>
    <br>
</div>
<div class='betweens-create pure-form'>
    <textarea class='betweens-input'></textarea>
    <br>
    <br>
    <button type='button' class='betweens-send pure-button'>寄出去</button>
</div>
