<img class='message-profile-file' src='<%= profile.thumb_file %>'>
<ul class='message-others'>
    <li class='message-profile-name'><%= profile.name %></li>
    <li class='message-timestamp'><%= created_at %></li>
</ul>
<p class='message-body'>
    <a class='message-link'><%= body %></a>
</p>
