<ul>
    <li class='item-li show' id='item-li-1'>
        <div><img src='<%= detail_img %>'/></div>
        <div>
            <p class='item-name'><%= name %></p>
            <p><span>购买时间:</span> <%= buy_at %></p>
            <p><span>成色:</span> <%= percent_new %></p>
            <p><span>原价:</span> <%= buy_price %>元</p>
            <p><span>现价:</span> <%= price %>元</p>
            <p><span>邮资:</span> <%= express_price %>元</p>
            <p><span>创建时间:</span> <%= created_at %></p>
        </div>
        <p><%= description %></p>
    </li>
</ul>
