<div class='mask'></div>
<a class='new-item-close close' href='#'>×</a>
<div class='new-item-form pure-form'>
    <h4>NewItem</h4>
    <form enctype='multipart/form-data'>
        <p>
            <input name='img' type='file'/>
        </p>
        <p class='new-item-category'>
        </p>
        <p>
            <input class='pure-input-2-3' name='name' type='text' placeholder='标题'/>
        </p>
        <p>
            <label>参照链接</label>
            <input class='pure-input-2-3' name='link' type='url' placeholder='http://'/>
        </p>
        <p>
            <label>购买时间</label>
            <input name='buy_at' type='text'
                placeholder='yyyy/mm/dd'/>
        </p>
        <p>
            <label>成色</label>
            <input class='pure-input-2-3' name='percent_new' type='range' min='1' max='100' placeholder='新旧'/>
        </p>
        <p>
            <input name='buy_price' type='number' min='0' step='10' placeholder='原价'/>
            <span>¥</span>
        </p>
        <p>
            <input name='price' type='number' min='0' step='10' placeholder='现价'/>
            <span>¥</span>
        </p>
        <p>
            <label>邮资</label>
            <input name='express_price' type='number' min='0' step='10'
                value='10' placeholder='邮资'/>
            <span>¥</span>
        </p>
        <p>
            <label>可议价</label>
            <input class='pure-input-1-4' type='radio' name='if_bargain' value='1' checked='checked'/>
            <label>不可议价</label>
            <input class='pure-input-1-4' type='radio' name='if_bargain' value='0'/>
        </p>
        <p class='new-item-location'>
            <select name='state' class='new-item-state'></select>
            <select name='city'  class='new-item-city'></select>
        </p>
        <p>
            <textarea class='pure-input-2-3' name='description' placeholder='详情'></textarea>
        </p>
        <p>
            <button type='button' class='new-item-sub pure-button'>提交</button>
        </p>
    </form>
</div>
